body {
    background: #0a0b10;
    color: #888;
    font-family: 'Courier New', monospace;
    margin: 0; padding: 20px;
    overflow-x: hidden;
}

.story-container {
    max-width: 600px;
    margin: 40px auto;
}

#typewriter-text {
    font-size: 15px;
    line-height: 1.7;
    white-space: pre-wrap;
    min-height: 110vh; /* Чтобы пришлось листать */
}

#meta-signature {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px; /* Сделали крупнее */
    color: rgba(0, 255, 157, 0.2); /* Чуть ярче, но все еще маскировка */
    word-break: break-all;
    max-width: 80%; /* Теперь строка может занимать почти весь низ экрана */
    text-align: right;
    pointer-events: none;
    font-family: monospace;
}
